# Python
*.pyc
*~
__pycache__
.pytest_cache

# Env
.env
myvenv/
venv/

# Database
db.sqlite3
*.sqlite3
*.db

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# PyCharm
.idea

# Django
staticfiles/
media
