{% extends 'base.html' %}

{% block content %}
    <div class="customer-order-list">
        <h2>Order Details # {{order.id}}</h2>
        <p>Description: {{order.description}}</p>
        <p>Account Manager: {{order.account_manager.user.email}}</p>
        
        <div class="row mt-4">
            <div class="col-md-8">
                <h4>Items in this order</h4>
                <div id="products-and-services-list-area">
                    <ul class="list-group" style="max-width: 600px;">
                        {% for item in order.items.all %}
                            <li class="list-group-item">
                                <a>{{ item.product.name }}</a>
                                <span class="badge bg-primary float-end">x{{ item.quantity }}</span>
                                <p>{{ item.product.description }}</p>
                                <p>Price: €{{ item.product.price }} / each</p>
                            </li>
                        {% empty %}
                            <li class="list-group-item">You do not have any items in this order yet.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <h4>Products and services available:</h4>
                <div 
                    id="products-and-services-selection-area"
                    hx-get="{% url 'customer_order_available_items_to_add' order.id %}"
                    hx-trigger="load, refresh"
                    hx-target="#products-and-services-selection-area"
                    hx-swap="innerHTML"
                >
                    <p>Loading available products...</p>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
