{% extends 'base.html' %}

{% block content %}
    <div class="customer-order-list">
        <h2>Orders</h2>
        <p>Here are all your orders</p>

        <ul class="list-group" style="max-width: 600px;">
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="">Order #{{ order.id }}</a>
                    <span class="badge bg-primary float-end">{{ order.status }}</span>
                    <p>{{ order.description }}</p>
                </li>
            {% empty %}
                <li class="list-group-item">You do not have any orders yet.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
